body{
    background: #eef2ff;
}

/*顶部菜单样式*/
.top_menu{
    height:100px;
    /*颜色的三种表示方式, rgba的a代表透明度*/
    /*background: red;*/
    /*background: rgb(255, 111, 222);*/
    background: #03c;
}

.title{
    /**/
    /*background:cyan*/
    width:350px;
    color:#fff;
    font: normal 32px/100px 微软雅黑;
    text-align:center;
    float: left;
}

.menu_list {
    float: left;
    width: 800px;
    height: 100px;
}

.menu_list li{
    width: 150px;
    height:100px;
    float: left;
    list-style:none;
    font: normal 22px/100px 微软雅黑;
    color:#fff;
    text-align:center;
}

.menu_list li:hover{
    background: #6392ed;
}

.top_user{
    float: right;
    font: normal 16px/40px "Microsoft YaHei UI";
    color: #fff;
    margin: 45px 40px;
}

/*侧边菜单样式*/
.left_menu{
    position: absolute;
    top: 120px;
    left: 0;
    width: 300px;
    height:1000px;
    background: #fff

}
/*主题内容部分样式*/
.content{
    position: absolute;
    top: 120px;
    left: 320;
    width: 1200px;
    height:1000px;
    background: #fff

}